.HamburgerMenu {
  background-color: var(--bg-color);
  padding: 10px 10px;
  transition: all 0.8s ease;
  width: var(--width);
  min-width: var(--width);
  height: 100%;
  /*
   * Set position:fixed; and increase the z-index value to
   * bring it to the front.
   */
  position: fixed;
  z-index: 999;
}

.HamburgerMenu :hover {
  cursor: pointer;
}

.HamburgerMenu .HamburgerIcon {
  text-align: right;
}

.HamburgerMenu .MenuItem {
  animation: fadeIn 0.7s ease 0s 1 normal;
  animation-delay: var(--animation-delay);
  animation-fill-mode: forwards;
  margin: 10px 50px 10px 10px;
  opacity: 0;
}

.HamburgerMenu .MenuItem a {
  color: #858585;
  font-weight: 200;
  font-size: 18px;
  margin-left: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.HamburgerMenu .MenuItem:hover a {
  color: #515151;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
